    p{
        background-color: blue;
    }

    .contact p{
        background-color: red;
        font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #name p{
        background-color: black;
    }
    
